:root {
  --Nerds-position-y: 35vh;
  --Nerds-position-x: 50vw;

}

html, body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;

    font-family: Neue Haas Grotesk,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #343235;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.Nerds-container {
  margin-left: var(--Nerds-position-x);
  margin-top: var(--Nerds-position-y);

  position: absolute;

  display: grid;
  text-align: left;
}
#Nerd {
    font-weight: 600;
    font-size: 5rem;
    margin: auto;

}
#Nerd-description {
    font-size: 1.25rem;
    font-weight: 400;

    color: #818285;
    /* margin-left: 20px; */

    /* margin: auto; */
}
#Nerd-url {
    z-index: 22;
}



#rotate-div {
    overflow: hidden;
    position: relative;
    width:100%;
    height:100%;

    transform: rotate(180deg);

    /* border: 1px solid black; */
}

a {
    color: #ff0000;
    text-decoration: none;
}
a:hover {
    color: #000;
}

.chand {
    cursor: url(images/hand.cur), move;
}
.chand:active {
    cursor: url(images/hand-h.cur), move;
}
